body {
  margin: 0;
  padding:0;
  background-color: #efefef;
  height: 200vh;
}

.Wrapper {
  width:90vw;
  margin:0 auto;
  box-shadow: 19px 0px 50px black, -19px 0px 50px black;
}
.Logo {
  width:100%;
}
.Logo img{
  width:90%;
  height:300px;
  margin-right:10%;
  margin-bottom:-10%;
}
.app-bar {
  background-color: #333399;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
}

.app-bar a {
  padding: 10px 20px;
  background-color: #3483eb;
  color: #fff;
  border-radius: 10px;
  margin: 10px 0;
}

.app-bar a:hover {
  background-color: indigo;
}
#Form1 {
  border:1px solid white;
  margin:15px;
}
#in1 {
  display:block;
  width:40%;
  margin:10px;
  margin-left:19%;
  border-radius:15px;
  font-family:serif, sans-serif;
  height:30px;
  font-size:19px;
}
#in1:hover{
  background-color:#3483eb;
}
#in2 {
  display:block;
  width:10%;
  margin:10px;
  margin-left:48%;
  margin-top:30px;
  border-radius:10px;
  font-family:serif, sans-serif;
  height:30px;
  font-size:18px;
}
h2 {font-family:serif, sans-serif;
  margin-left:15px;
  text-decoration:underline;
  font-size: 30px;
  padding: 20px;
}
p {
  /* color: #fff; */
  font-family:serif, sans-serif;
  margin-left:15px;
  text-decoration:underline;
  font-size: 30px;
  padding: 20px;
}
#not-logged button {
  width:70px;
  margin:7px;
  font-family:serif, sans-serif;
  font-size:16px;
  border-radius:17px;
  margin-bottom:3px;
}
 button {
  width:70px;
  margin:7px;
  font-family:serif, sans-serif;
  font-size:16px;
  border-radius:17px;
}
textarea {
  border-radius:10px;
  border: 1px solid ;
}
